<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.tuni.dontstutter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DontStutter">
        <activity android:name=".MenuMain"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameOneMinute"
            android:screenOrientation="portrait" />
        <activity android:name=".GameRelax"
            android:screenOrientation="portrait"/>
        <activity android:name=".HelpOneMinute"
            android:screenOrientation="portrait" />
        <activity android:name=".HelpRelax"
            android:screenOrientation="portrait" />
        <activity android:name=".GameOverOneMinute"
            android:screenOrientation="portrait" />
        <activity android:name=".GameOverRelaxMode"
            android:screenOrientation="portrait"/>
        <activity android:name=".HighscoreOneMinute"
            android:screenOrientation="portrait" />
        <activity android:name=".HighscoreRelax"
            android:screenOrientation="portrait" />
        <activity android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity android:name=".Reset"
            android:screenOrientation="portrait" />
        <activity android:name=".NewProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuStart"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuRelax"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuOneMinute"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="fi.tuni.dontstutter"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>